{% extends 'base/layout.html' %} {% block body %}
<div class="container">
    <span class="glyphicon glyphicon-refresh" aria-hidden="true" style="font-size:30px"></span>
    <span style="font-size:36px;font-weight: bold">&#8239;Change Password</span>
    <hr style="margin-top: -8px; visibility:hidden;" /> {% from "base/includes/_formhelpers.html" import render_field %}
    <form method="POST" action="">
        <div class="form-group">
            {{render_field(form.curr_pass, class_="form-control")}}
        </div>
        <div class="form-group">
            {{render_field(form.new_pass, class_="form-control")}}
        </div>
        <div class="form-group">
            {{render_field(form.confirm, class_="form-control")}}
        </div>
        <p>
            <input type="submit" class="btn btn-primary" value="Submit">
        </p>
    </form>
</div>
{% endblock %}