{% extends 'base/layout.html' %} 
{% block body %}
<div class="container-profile">
    <div class="col-md-3">
        {% if db_users.avatar == None %}
        <img src="{{ url_for('static', filename='images/user.jpg') }}" alt="..." class="img-rounded-larger center-block"> {% else %}
        <img src="{{ url_for('static', filename='avatar/' + db_users.username + '/' + db_users.avatar) }}" alt="..." class="img-rounded-larger center-block"> {% endif %}
        <hr style="margin-top: -8px; visibility:hidden;" />
        <div class="col-md-12">
            <a href="/upload" style="text-decoration: none">
                <button type="button" class="btn btn-info btn-block">Upload new picture</button>
            </a>
        </div>
        <br>
        <br>
        <h3>&nbsp;&nbsp;{{db_users.fullname}}
        <br>
        <small>&nbsp;&nbsp;&nbsp;{{db_users.username}}</small>
        </h3>
    </div>
    <div class="col-md-9">
        {% include 'base/includes/_messages.html' %}
        <span class="glyphicon glyphicon-picture" aria-hidden="true" style="font-size:30px"></span>
        <span style="font-size:36px;font-weight: bold">&#8239;Upload Avatar</span>
        <hr style="margin-top: -8px; visibility:hidden;" /> 
        {% from "base/includes/_formhelpers.html" import render_field %}
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }} 
            {{ form.photo }} 
            {% for error in form.photo.errors %}
            <span style="color: red;">{{ error }}</span> 
            {% endfor %}
            <br>
            <input class="btn btn-primary" type="submit" value="Upload">
        </form>
    </div>
</div>
{% endblock %}