.flask-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}

.flask-footer p:last-child {
  margin-bottom: 0;
}

.light-navbar-transparent {
    background-color: rgba(0, 0, 0, 0.5);
}

.post-info {
    color: grey;
    font-size: 10px
}

.post-edit {
    color: grey;
    font-size: 10px;
    text-decoration: none;
    float: right;
    margin-top: 1px;
}

.more-btn {
    max-width: 250px;
    margin-right: auto;
    margin-left: auto;
}

.featurette-divider {
    margin: 80px 0;
    /* Space out the Bootstrap <hr> more */
}


/* Thin out the marketing headings */

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}

.marketing h2 {
    font-weight: normal;
}

.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}

.row.text-center>div {
    display: inline-block;
    float: none;
    text-align: left;
}

.post-info {
    color: grey;
    font-size: 10px
}

.post-edit {
    color: grey;
    font-size: 10px;
    text-decoration: none;
    float: right;
    margin-top: 1px;

